/** ================================
MODAL-ALERT
================================ **/
.modal-backdrop{
	z-index : 1050;
	.opacity(75);
}

.modal{
	display    : block;
	overflow-y : auto;
	position   : fixed;
	top        : 0;
	right      : 0;
	bottom     : 0;
	left       : 0;
	z-index    : 1050;
	::-webkit-scrollbar{
		width : 0px;
	}
	.modal-dialog{
		margin-top : 160px;
		max-width: 355px;
		.panel{
			-webkit-box-shadow : 0px 0px 0px 3px #252525;
			-moz-box-shadow    : 0px 0px 0px 3px #252525;
			-ms-box-shadow     : 0px 0px 0px 3px #252525;
			-o-box-shadow      : 0px 0px 0px 3px #252525;
			box-shadow         : 0px 0px 0px 3px #252525;

			.panel-heading{
				border-bottom : 1px solid @color-border;
				margin        : 0px -1px -2px;
				min-height    : 40px;
				padding-right : 40px;
				.panel-title{
					text-transform : capitalize;
					.font-size(13, font-regular);
				}

				+ .panel-body{
//					padding-top : 10px;
					padding: 10px 0px;
				}

			}
		}
	}

	.icon-modal-close{
		color    : @color-default-light;
		position : absolute;
		right    : 10px;
		.font-px-em(22);
		top      : 9px;
	}

	.panel-default{
		border-color     : @white;
		background-color : @white;
		> .panel-heading{
			color            : #333333;
			background-color : @white;
			border-color     : @white;
		}
	}

	.panel-success{
		border-color : @dark_green;
		> .panel-heading{
			color            : @white;
			background-color : @green;
			border-color     : @dark_green;
		}
	}

	.panel-footer{
		background-color : @white;
		border           : none;
		padding          : 0px;
		margin           : 0px -1px -1px;
		.border-radius(0px 0px 4px 4px);

		.btn-group-justified{
			> .btn{
				padding       : 0px 0px;
				padding-left  : 0px;
				padding-right : 0px;
				min-width     : 50%;
				border        : none;
				display       : none;
				visibility    : hidden;
				margin        : 0px 0px -1px;
				.border-radius(0px 0px 3px 3px);
				font-family   : font-semi-bold;
				&.btn-default{
					color : @color-primary;
					&:hover{
						z-index : 0;
						border  : none;
					}
				}

				&:hover{
					z-index : 0;
					border  : none;
				}

			}

			> .btn-active{
				display    : inline-block;
				visibility : visible;

				&.primary-btn{
					float : left;
					.border-radius(0px 0px 0px 3px);
				}

				&.secondary-btn{
					float : right;
					.border-radius(0px 0px 3px 0px);
				}

				//				//if there is another button next to it
				//				~ .btn-active
				//				{
				//					.border-radius(0px 0px 3px 0px);
				//				}

				&.btn-block{
					//if its a tablet then dont block them
					@media (max-width : @screen-tablet) and (max-width : @screen-note){
						width         : 100%;
						display       : block;
						.border-radius(0px 0px 3px 3px);
						//if there is another button next to it
						~ .btn-active{
							margin  : -2px 0px 0px;
							z-index : 1;
						}
					}

				}
			}
			&.single-element{
				> .btn{
					min-width : 100%;
					.border-radius(0px 0px 3px 3px);
				}
			}
		}
	}
}

.sprite.trustwave2x{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.model-content{
	display    : table;
	min-height : 74px;
	width      : 100%;
	.clearfix;
	.subheading{
		.font-size(11, font-regular);

		ul{
			list-style-type : none;
			text-align      : left;
		}
	}
	.tagline{
		font-family : font-semi-bold;
		font-style  : italic;
		.margin-before(0em);
		.margin-after(0em);
		color       : @green;
	}

	.limit{
		.font-size(11, font-semi-bold, @blue);
	}
}
