/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	padding-bottom: 20px;
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}


.navbar-brand {
	img{
		height: 78px;
	}
}

.collapse{
	display: none;
}