.navbar-brand{
	float       : left;
	padding     : 15px 15px;
	font-size   : 18px;
	line-height : 20px;
}

.panel-plain{
	.border-radius(0px);
	border-color : transparent;
	box-shadow   : none;
	border       : none;
}

.patient-item{
	cursor   : pointer;
	position : relative;
	&:hover{
	}
	.img-container{
		position : absolute;
		height   : 140px;
		width    : 20%;
		left     : 0px;

		img{
			width      : 100% !important;
			max-height : 140px;
			max-width  : 160px;
			position   : relative;
			display    : block;
			margin     : auto;
		}
	}
	.item-description{
		margin-left : 20%;
		font-size   : 10px;
		width       : 80%;
	}

}

.song-item{
	cursor   : pointer;
	position : relative;
	.img-container{
		position : absolute;
		height   : 140px;
		width    : 20%;
		left     : 0px;
		img{
			width : 100%;
		}
	}
	.item-description{
		margin-left : 20%;
		font-size   : 10px;
		width       : 80%;
	}
}

.item-description{

	.item-header{
		.title{
			font-family : Big Noodle Titling;
			font-size   : 22px;
		}
		.author{
			font-weight : bold;
			font-size   : 13px;
		}
		.type{
			font-size : 11px;
			color     : #a7a7a7;
		}
	}
	padding   : 0px 10px;
	height    : 140px;
	font-size : 10px;
}

.dropdown-menu{
	right : 0px;
	left  : inherit;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td{
	cursor : pointer;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span,
.pagination > li > a,
.pagination > li > span,
.dropdown-menu > li > a,
.navbar-default .navbar-nav > li > a:hover{
	cursor : pointer;
}