<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4">
		<h2>Report List</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="custom-search-box">
			<div class="input-group ">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				<input type="text" class="form-control" data-ng-model="query" placeholder="Search" data-search-patients>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-8">
		<div class="custom-search-box">
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-default" ng-class="{'active':grid}" data-ng-click="grid = true">
					<span class="glyphicon glyphicon-th"></span>
				</button>
				<button type="button" class="btn btn-default" ng-class="{'active':!grid}" data-ng-click="grid = false">
					<span class="glyphicon glyphicon-th-list"></span>
				</button>

				<div class="btn-group" ng-class="{'open':orderBy}">
					<button type="button" class="btn btn-default dropdown-toggle" data-ng-click="orderBy=!orderBy">
						Order By
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a  data-ng-click="predicate = 'artistName'; reverse=!reverse">Artist Name</a></li>
						<li><a  data-ng-click="predicate = 'trackName'; reverse=!reverse">Track Name</a></li>
						<li><a  data-ng-click="predicate = 'primaryGenreName'; reverse=!reverse">Genra Name</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" data-ng-show="grid">

	<div class="col-xs-12 col-sm-6 col-md-4" data-ng-repeat="song in song_data | filter:query | orderBy:predicate:reverse"
		data-ng-click="routeURL('{{song.trackViewUrl}}')">
		<div class="panel panel-default panel-plain song-item">
			<div class="img-container">
				<img src="{{song.artworkUrl100}}" alt="{{song.artworkUrl100}}"/>
			</div>
			<div class="item-description">
				<div class="item-header">
					<div class="title"><span ng-bind="song.artistName"></span> <span class="pull-right" ng-bind="song.trackPrice | currency"></span></div>
					<div class="author"><span ng-bind="song.trackName"></span></div>
					<div class="type" ng-bind="song.primaryGenreName"></div>
				</div>
				<div class="item-body">
					<!--<audio controls>
						<source src="{{song_data.previewUrl}}" type="audio/mpeg">
						Your browser does not support this audio format.
					</audio>-->
				</div>
			</div>
		</div>
	</div>


</div>

<div class="row" data-ng-show="!grid">
	<table class="table table-hover">
		<thead>
		<tr>
			<th style="width: 20%;">Artist Name</th>
			<th style="text-align: center;width: 30%;">Album Name</th>
			<th style="text-align: center;width: 30%;">Song Name</th>
			<th style="text-align: center;width: 10%;">Buy</th>
		</tr>
		</thead>
		<tbody>
		<tr data-ng-repeat="song in song_data | filter:query | orderBy:predicate:reverse">
			<td><span ng-bind="song.artistName"></span></td>
			<td style="text-align: center"><span ng-bind="song.collectionName"></span></td>
			<td style="text-align: center"><span ng-bind="song.trackName"></span></td>
			<td style="text-align: center"><a href="{{song.trackViewUrl}}" target="_blank" >Buy</a></td>
		</tr>
		</tbody>
	</table>
</div>

<div class="background-image">

</div>