<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4">
		<h2>Patient List</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="custom-search-box">
			<div class="input-group ">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				<input type="text" class="form-control" data-ng-model="query" placeholder="Search" data-search-patients>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-8">
		<div class="custom-search-box">
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-default" ng-class="{'active':grid}" data-ng-click="grid = true">
					<span class="glyphicon glyphicon-th"></span>
				</button>
				<button type="button" class="btn btn-default" ng-class="{'active':!grid}" data-ng-click="grid = false">
					<span class="glyphicon glyphicon-th-list"></span>
				</button>

				<div class="btn-group" ng-class="{'open':orderBy}">
					<button type="button" class="btn btn-default dropdown-toggle" data-ng-click="orderBy=!orderBy">
						Order By
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a  data-ng-click="predicate = 'patient_name'; reverse=!reverse">Patient Name</a></li>
						<li><a  data-ng-click="predicate = 'patient_age'; reverse=!reverse">Patient Age</a></li>
						<li><a  data-ng-click="predicate = 'patient_phone'; reverse=!reverse">Phone Number</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="row" data-ng-show="grid">
	<div class="col-xs-12 col-sm-6 col-md-4" data-ng-repeat="patient in patients | filter:query | orderBy:predicate:reverse
	| startFrom:currentPage*pageSize | limitTo:pageSize" data-ng-click="routeTo('patient/'+patient.patient_id)">
		<div class="panel panel-default panel-plain patient-item" data-ng-click="">
			<div class="img-container">
				<img src="/img/avatars/avatar.png" alt=""/>
			</div>
			<div class="item-description">
				<div class="item-header">
					<div class="title"><span ng-bind="patient.patient_name"></span> <span class="pull-right">Age: <span ng-bind="patient.patient_age"></span></span></div>
					<div class="author"><span class="glyphicon glyphicon-earphone"></span> <span ng-bind="patient.patient_phone"></span></div>
					<div class="type"><span ng-class="{'glyphicon glyphicon-music':patient.favorite_song_id}"></span></div>
				</div>
				<div class="item-body"></div>
			</div>
		</div>
	</div>
</div>

<div class="row" data-ng-show="!grid">
	<table class="table table-hover">
		<thead>
		<tr>
			<th style="width: 30%;"><span class="glyphicon glyphicon-user"></span> Name</th>
			<th style="text-align: center;width: 10%;">Age</th>
			<th style="text-align: center;width: 30%;"><span class="glyphicon glyphicon-earphone"></span> Phone</th>
			<th style="text-align: center;width: 10%;"><span class="glyphicon glyphicon-music"></span> Song?</th>
			<th style="width: 20%;"></th>
		</tr>
		</thead>
		<tbody>
		<tr data-ng-repeat="patient in patients | filter:query | orderBy:predicate:reverse | startFrom:currentPage*pageSize | limitTo:pageSize">
			<td><span ng-bind="patient.patient_name"></span></td>
			<td style="text-align: center"><span ng-bind="patient.patient_age"></span></td>
			<td style="text-align: center"><span ng-bind="patient.patient_phone"></span></td>
			<td style="text-align: center"><span data-ng-show="patient.favorite_song_id">Yes</span><span data-ng-show="!patient.favorite_song_id">No</span></td>
			<td style="text-align: right"><a data-ng-click="routeTo('patient/'+patient.patient_id)">Assign Song</a></td>
		</tr>
		</tbody>
	</table>
</div>

<div class="row" data-ng-show="showPagination">
	<ul class="pagination">
		<li><a  data-ng-click="setPage('b')">&laquo;</a></li>
		<li data-ng-repeat="n in [] | range:pagination" data-ng-class="{'active': $index == currentPage}"><a href="#" ng-bind="$index + 1" data-ng-click="setPage($index)"></a></li>
		<li><a href="#" data-ng-click="setPage('f')">&raquo;</a></li>
	</ul>
</div>