
<div class="row">
	<div class="col-xs-12">
		<h2 data-ng-show="!noUser">Song Selection</h2>
		<h2 data-ng-show="noUser">Patient does not exist</h2>
	</div>
</div>

<div data-ng-show="!noUser">
	<div class="row">

		<div class="col-xs-12 col-sm-6">
			<div class="panel panel-default panel-plain patient-item">
				<div class="img-container">
					<img src="/img/avatars/avatar.png" alt=""/>
				</div>
				<div class="item-description">
					<div class="item-header">
						<div class="title"><span ng-bind="patient.patient_name"></span> <span class="pull-right">Age: <span ng-bind="patient.patient_age"></span></span></div>
						<div class="author"><span class="glyphicon glyphicon-earphone"></span> <span ng-bind="patient.patient_phone"></span></div>
					</div>
					<div class="item-body"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2><span ng-bind="patient.patient_name"></span> has a Song:</h2>
		</div>
	</div>
	<div class="row">

		<div class="col-xs-12 col-sm-6" data-ng-show="song_data">
			<div class="panel panel-default panel-plain song-item">
				<div class="img-container">
					<img src="{{song_data.artworkUrl100}}" alt="{{song_data.artworkUrl100}}"/>
				</div>
				<div class="item-description">
					<div class="item-header">
						<div class="title"><span ng-bind="song_data.artistName"></span> <span class="pull-right" ng-bind="song_data.trackPrice | currency"></span></div>
						<div class="author"><span ng-bind="song_data.trackName"></span></div>
						<div class="type" ng-bind="song_data.primaryGenreName"></div>
					</div>
					<div class="item-body">
						<!--<audio controls>
							<source src="{{song_data.previewUrl}}" type="audio/mpeg">
							Your browser does not support this audio format.
						</audio>-->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h2 data-ng-show="song_data">Assign a Different song to <span ng-bind="patient.patient_name"></span>:</h2>

			<h2 data-ng-show="!song_data">Assign a Song to <span ng-bind="patient.patient_name"></span>:</h2>

		</div>
		<div class="col-xs-12">
			<form>
				<label for="song_search">Search for a Song</label>
				<input type="text" name="song_search" ng-model="song_search" placeholder="any song on iTunes"/>
				<input type="submit" name="song_search_submit" value="search" data-ng-click="searchSong()"/>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4" data-ng-repeat="song in songs" data-ng-click="saveSong(song)">
			<div class="panel panel-default panel-plain song-item">
				<div class="img-container">
					<img src="{{song.artworkUrl100}}" alt="{{song.artworkUrl100}}"/>
				</div>
				<div class="item-description">
					<div class="item-header">
						<div class="title"><span ng-bind="song.artistName"></span> <span class="pull-right" ng-bind="song.trackPrice | currency"></span></div>
						<div class="author"><span ng-bind="song.trackName"></span></div>
						<div class="type" ng-bind="song.primaryGenreName"></div>
					</div>
					<div class="item-body">
						<!--<audio controls>
							<source src="{{song_data.previewUrl}}" type="audio/mpeg">
							Your browser does not support this audio format.
						</audio>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>